/*
 & Columns : 24 
 & Gutter %: 20% 
 & MinWidth: 960px
 & MaxWidth: 960px
 */
.grid-1 { width: 3.3333333333333%; }
.grid-2 { width: 7.5%; }
.grid-3 { width: 11.666666666667%; }
.grid-4 { width: 15.833333333333%; }
.grid-5 { width: 20%; }
.grid-6 { width: 24.166666666667%; }
.grid-7 { width: 28.333333333333%; }
.grid-8 { width: 32.5%; }
.grid-9 { width: 36.666666666667%; }
.grid-10 { width: 40.833333333333%; }
.grid-11 { width: 45%; }
.grid-12 { width: 49.166666666667%; }
.grid-13 { width: 53.333333333333%; }
.grid-14 { width: 57.5%; }
.grid-15 { width: 61.666666666667%; }
.grid-16 { width: 65.833333333333%; }
.grid-17 { width: 70%; }
.grid-18 { width: 74.166666666667%; }
.grid-19 { width: 78.333333333333%; }
.grid-20 { width: 82.5%; }
.grid-21 { width: 86.666666666667%; }
.grid-22 { width: 90.833333333333%; }
.grid-23 { width: 95%; }
.grid-24 { width: 99.166666666667%; }

.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12,
.grid-13,.grid-14,.grid-15,.grid-16,.grid-17,.grid-18,.grid-19,.grid-20,.grid-21,.grid-22,.grid-23,.grid-24 {
	margin-left: 0.41666666666667%;
	margin-right: 0.41666666666667%;
	float: left;
	display: block;
}

.push-1 { margin-left: 3.3333333333333%; }
.push-2 { margin-left: 7.5%; }
.push-3 { margin-left: 11.666666666667%; }
.push-4 { margin-left: 15.833333333333%; }
.push-5 { margin-left: 20%; }
.push-6 { margin-left: 24.166666666667%; }
.push-7 { margin-left: 28.333333333333%; }
.push-8 { margin-left: 32.5%; }
.push-9 { margin-left: 36.666666666667%; }
.push-10 { margin-left: 40.833333333333%; }
.push-11 { margin-left: 45%; }
.push-12 { margin-left: 49.166666666667%; }
.push-13 { margin-left: 53.333333333333%; }
.push-14 { margin-left: 57.5%; }
.push-15 { margin-left: 61.666666666667%; }
.push-16 { margin-left: 65.833333333333%; }
.push-17 { margin-left: 70%; }
.push-18 { margin-left: 74.166666666667%; }
.push-19 { margin-left: 78.333333333333%; }
.push-20 { margin-left: 82.5%; }
.push-21 { margin-left: 86.666666666667%; }
.push-22 { margin-left: 90.833333333333%; }
.push-23 { margin-left: 95%; }
.push-24 { margin-left: 99.166666666667%; }
 
.pull-1 { margin-right: 3.3333333333333%; }
.pull-2 { margin-right: 7.5%; }
.pull-3 { margin-right: 11.666666666667%; }
.pull-4 { margin-right: 15.833333333333%; }
.pull-5 { margin-right: 20%; }
.pull-6 { margin-right: 24.166666666667%; }
.pull-7 { margin-right: 28.333333333333%; }
.pull-8 { margin-right: 32.5%; }
.pull-9 { margin-right: 36.666666666667%; }
.pull-10 { margin-right: 40.833333333333%; }
.pull-11 { margin-right: 45%; }
.pull-12 { margin-right: 49.166666666667%; }
.pull-13 { margin-right: 53.333333333333%; }
.pull-14 { margin-right: 57.5%; }
.pull-15 { margin-right: 61.666666666667%; }
.pull-16 { margin-right: 65.833333333333%; }
.pull-17 { margin-right: 70%; }
.pull-18 { margin-right: 74.166666666667%; }
.pull-19 { margin-right: 78.333333333333%; }
.pull-20 { margin-right: 82.5%; }
.pull-21 { margin-right: 86.666666666667%; }
.pull-22 { margin-right: 90.833333333333%; }
.pull-23 { margin-right: 95%; }
.pull-24 { margin-right: 99.166666666667%; }


.alpha{margin-left:0px;}
.omega{margin-right:0px;}

.show-grid{
  background:url('../images/960_24_10_10.png') repeat-y;
}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}
